body {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 3%;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 20px;
}

p {
  font-size: 18px;
  text-align: justify;
}

.frostGlass {
  text-align: center;
  color: black;
  padding: 25px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.616);
  -webkit-backdrop-filter: saturate(500%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  margin-bottom: 20px;
  border-radius: 5px;
}

.frostGlassDark {
  color: white;
  background-color: rgba(53, 53, 53, 0.616);
  text-align: center;
  padding: 25px;
  width: 100%;
  -webkit-backdrop-filter: saturate(500%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  margin-bottom: 20px;
  border-radius: 5px;
}

.profileImg {
  text-align: center;
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

.row {
  margin-bottom: 30px;
}

.noPaddingLeft {
  padding-left: 0%;
}

.noPaddingRight {
  padding-right: 0%;
}
